.stat {
  border-radius: 5rem;
  padding: 0.25rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--grey-color);
  z-index: 2;
}

.stat > img {
  width: 1rem;
  background-color: transparent;
}

.stat > span {
  display: block;
  background-color: transparent;
}
